footer{
    background-image: linear-gradient(to left, white, gray, silver);
    border: 2.5px solid black;
    min-height: 5vh;

}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.first-first{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.first-two{
    display: flex;
    margin-right: 20px;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

hr{
    display: flex;
    justify-self: center;
    width: 97.5%;
}
@media screen and (max-width:475px){
    .first-first ,.first-two{
        font-size: 10px;
    }
}